$body-back: #f8f9fc;
/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-border: rgba(255,255,255,0.5);
$btn-border-hover: rgba(255,255,255,1);
$btn-search-border-hover: rgba(0,0,0,1);
$btn-color: #fff;
/*---------- /btn ---------*/

/*---------- menu ---------*/
$menu-color: rgba(255,255,255,0.5);
$menu-color-hover: rgba(255,255,255,1);
$menu-back: rgba(198,47,54,0.95);
/*---------- /menu ---------*/

/*---------- hero ---------*/
$hero-back: #d1344c;
$hero-title-color: #fff;
$hero-description-color: #fff;
$hero-btnRight-back: #000;
$hero-btnRight-border: rgba(0,0,0,0.5);
/*---------- /hero ---------*/

/*---------- content ---------*/
$content-title-color: #000;
$content-title-span-color: #8e929d;
$content-tittle-border: #efefef;
/*---------- /content ---------*/

/*---------- card ---------*/
$card-back: rgb(255, 255, 255);
$card-shadow: rgba(0, 0, 0, 0.13);
$card-title-color: #07143a;
$card-title-color-hover: #47347e;
$card-price-span-back: #e74a63;
$card-price-span-gradient1: #e74a63;
$card-price-span-gradient2: #f15588;
$card-price-color: #47347e;
$card-info-color: #8e929d;
/*---------- /card ---------*/

/*---------- offres ---------*/
$btn-offres-back: #e74a63;
$btn-offres-color: #fff;
/*---------- /offres---------*/

/*---------- footer ---------*/
$footer-copyright-color: #192a43;
$footer-menu-links-color: #192a43;
$footer-menu-links-hover: #192a43;
/*---------- /footer ---------*/